<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/animation.css">
	</head>
	<body class="loaded">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/career">Career</a></li>
        		<li><a href="/blog">Blog</a></li>
        		<li><a href="/leetcode">LeetCode</a></li>
    		</ul>
		</nav>
		<div class="container">

    		{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jonfang724@gmail.com">email</a></li>
        		<li><a href="https://github.com/jonfang">github.com/jonfang</a></li>
			</ul>
		</footer>
	<aside>
			<div class="animation">
				<button id="switch", onclick="myFunction()">Switch</button>
			</div>
	</aside>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="/javascript/main.js"></script>
	</body>
</html>
